* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  background: #C0C0C0;
  border: 4px outset;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  border: 4px inset;
  padding: 8px;
  width: 472px;
  justify-content: space-between;
  align-items: center;
}

.fieldContainer {
  margin-top: 8px;
  border: 4px inset;
}



